/*Common shared styles*/
body {
    font-family: 'Lato', sans-serif;
}
.banner-title {
    color: #272727;
}
.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    height: 44px;
    width: 120px;
}
.header {
   background-color: #ddbcb2;
   margin-right: 50px;
      }
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 850px;
    width: 1902px;
    margin-left: 100px;
    margin-left: 100px;
}

.banner-description {
    height: 90px;
    width: 634px;
}

.banner .banner-pic {
    height: 800px;
    width: 634px;
}

.cap {
    text-align: center; 
}
.our-featured-flowers {
    margin: 80px 0;
}
.figure-des {
    text-align: center; 
}
.chobi1 {
    width:  450px;
    height: 600px;
    background-color: #ddbcb2;
    border-radius: 300px 300px 0px 0px;
    }
.chobi2 {
        width:  450px;
        height: 600px;
        background-color: lightblue;
        border-radius: 300px 300px 0px 0px;
}
.chobi3 {
        width:  450px;
        height: 600px;
        background-color: lavender;
        border-radius: 300px 300px 0px 0px;
}
.feature {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.btn-deals {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    height: 44px;
    width: 120px;
}
.hot-deals {
   background-color: #ddbcb2;
   margin-right: 50px;
   margin-bottom: 90px;
      }
.deals {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
    width: 1902px;
    margin-left: 100px;
    margin-left: 100px;
}

.deals-description {
    height: 90px;
    width: 634px;
}

.deals .deals-pic {
    height: 800px;
    width: 634px;
}

.instagram-des {
    text-align: center;
}
.instagram-pic {
    display: flex;
    justify-content: center;
    align-content: center;
}
.subscribe-des {
    text-align: center;
    margin-top: 120px;
    padding-top: 80px;
    }
.subscribe {
    background-image: url('../Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    margin-bottom: 90px;
}

.email {
    width: 410px;
    height: 40px;
}
.flower-color {
color: #FD6E0A;
}
.shop-des {
    font-size: 12px;
}
.copyright {
    font-size: 8px;
}
.shop {
    background-color: bisque;
    height: 200px;
    text-align: center;
    margin-top: 120px;
    padding-top: 80px;
}
.feedback-des {
    display: block;
    text-align: center;
    background-color: darkorange;
}
.feedback1 {
    font-size: 20px;
    color: darkviolet;
}

.feedback2 {
    font-size: 20px;
    color: blue;
}
.feedback3 {
    font-size: 20px;
    color: darkcyan;
}